FACTORIO_VERSION=latest
FACTORIO_PORT=34197
WEBUI_PORT=3000
PUID=1000
PGID=1000
FACTORIO_USERNAME=
FACTORIO_TOKEN=
# Required: absolute path of this repository on the Docker host.
HOST_PROJECT_ROOT=/opt/factorio-server-g
